version: "3.9"
services:
  mongo: 
    image: mongo:6.0
    container_name: my-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_USERNAME: root
      MONGO_PASSWORD: admin
      MONGO_DATABASE: tmtc
    volumes:
     - mongo-data:/data/db
  redis:
    image: redis:7.0
    container_name: my-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data   
  app:
    container_name: node-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - JWT_SECRET=jwttopsecret
      - MONGO_URL=mongodb://mongo:27017/tmtc
      - REDIS_URL=redis://redis:6379
    depends_on:
      - mongo      
    volumes:
      - .:/app
volumes:
  mongo-data:         
  redis-data: